header {
  background-color: aquamarine; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Georgia, 'Times New Roman', Times, serif; }
      header nav a:hover {
        color: aquamarine; }
